@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(95.2deg, rgba(173, 252, 234, 1) 26.8%, rgba(192, 229, 246, 1) 64%);


}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
  --accent-color: #00bfa5;
  --linear-gradient-1: linear-gradient(90deg, #FF8A00, #BD00FF);
  --linear-gradient-2: linear-gradient(90deg, #BD00FF, #FF8A00);
}
